.list-wrapper {
  .list-style {
    .list-icon {
      width: 42px;
      height: 48px;
    }
    .list-text {
      .list-text-title {
        color: $primary;
      }
    }
    &.icon-left, &.icon-right {
      .list {
        align-items: flex-start;
        margin-bottom: rem-calc(18);
        &-icon {
          color: $primary;
        }
        &-text {
          padding-left: rem-calc(18);
          padding-top: rem-calc(4);
        }
      }
    }
    &.icon-right {
      .list {
        flex-direction: row-reverse;
        text-align: right;
        &-icon {
        }
        &-text {
          padding-right: rem-calc(18);
        }
      }
    }
    &.icon-top {
      .list {
        flex-direction: column;
        align-items: center;
        &-text {
          width: 100%;
          text-align: center;
        }
      }
    }
    &.column-row {
      .row {
        flex-wrap: wrap;
        justify-content: space-between;
        @include media-breakpoint-up(lg) {
          flex-wrap: nowrap;
        }
        > div {
          width: auto;
        }
      }
    }
    .list {
      display: flex;
      margin-bottom: rem-calc(18);
      &-icon {
        min-width: rem-calc(34);
        width: rem-calc(34);
        height: rem-calc(34);
        font-size: rem-calc(24);
        overflow: hidden;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        span {
          color: $primary-shade;
        }
      }
      &-text {
        font-weight: 600;
        font-size: rem-calc(18);
        line-height: rem-calc(25);
        letter-spacing: rem-calc(1);
        color: $text-primary;
        &-text {
          font-size: rem-calc(15);
          line-height: rem-calc(19);
          font-weight: 400;
          color: $text-secondary;
        }
      }
      &:hover {
        .list-text {
          color: $white;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

// For Meridian Theming
.tab-usage {
  .list-wrapper {
    .list-style {
      &.icon-left, &.icon-right {
        .list {
          align-items: flex-start;
          margin-bottom: rem-calc(18);
          &-icon {
          }
          &-text {
            padding-left: rem-calc(18);
            padding-top: rem-calc(4);
          }
        }
      }
      &.icon-right {
        .list {
          flex-direction: row-reverse;
          text-align: right;
          &-icon {
          }
          &-text {
            padding-right: rem-calc(18);
          }
        }
      }
      &.icon-top {
        .list {
          flex-direction: column;
          align-items: center;
          &-text {
            width: 100%;
            text-align: center;
          }
        }
      }
      &.column-row {
        .row {
          flex-wrap: wrap;
          justify-content: space-between;
          @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
          }
          > div {
            width: auto;
          }
        }
      }
      .list {
        display: flex;
        margin-bottom: rem-calc(18);
        &-icon {
          min-width: rem-calc(34);
          width: rem-calc(34);
          height: rem-calc(34);
          font-size: rem-calc(24);
          overflow: hidden;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          span {
            color: $primary-shade;
          }
        }
        &-text {
          @include text-style-headline-h-5;
          color: $text-primary;
          &-text {
            @include text-style-body-body-1;
            margin-top: rem-calc(5);
            color: $text-secondary;
          }
        }
        &:hover {
          .list-text {
            color: $primary;
          }
        }
      }
  
      a {
        text-decoration: none;
      }
    }
  }
}